.nav-link.active{
  background-color: #0770A6 !important;
  color: #fff !important;
}

.nav-link:hover{
  background-color: #2A93C9;
  color: #fff;
}

.nav-link:hover span{
  color: #fff;
}

.nav-link.active span{
  color: #fff;
}
.nav-link{
  font-weight: 500;
  color: rgb(51, 51, 51);
  text-align: center;
  height: 150px;
  width: 275px;
  flex-direction: column;
  border: none !important;

}

.nav-item{
  position: relative;
}

.nav-item .triangle__box{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0770A6;
    position: absolute;
    bottom: -10px;
    left: 90px;
    display: none;
}
/* 
.nav-link.active ~  .triangle__box{
  display: block;
} */

.tab-content{
  margin-top: 40px;
  margin-bottom: 40px;
}

.right__triangle {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  right: -10px;
  top: 70px;
  z-index: 1;
}

.nav-link:hover ~ .right__triangle{
  border-left:10px solid #2A93C9;
}

.nav-link.active ~ .right__triangle{
  border-left:10px solid #0770A6;
}

.wrapper{
  margin: 0 auto;
}

.nav-tabs{
  width: 100%;
  
}

.nav-link span{
  font-weight: 700;
  font-size: 18px;
  margin: 0 auto;
  color: rgb(56, 56, 56);
}